body {
  background: url(http://25.media.tumblr.com/tumblr_m81bemWVEN1ra7exvo1_1280.jpg); no-repeat center center;
  background-size: cover;
}

.jumbotron {
  background: url(http://static.tumblr.com/5uvtpxx/Dzlmplaee/light__4_.png); no-repeat center center;
  background-size: cover;
}

.jumbotron h1 {
  color: #000000;
  font-size: 48px;  
  font-family: 'Oswald', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
p,h1,h2,h3,ul { 
  font-family: 'Open Sans', sans-serif;  
}
.jumbotron p {
  font-size: 20px;
  color: #000000;
}

.learn-more {
  background-color: #f7f7f7;
  background: url(http://static.tumblr.com/5uvtpxx/Dzlmplaee/light__4_.png); no-repeat center center;
  background-size: cover;
  padding:30px;

}

.placeholder-30 {
  height:30px;
  display: block;
  clear: both;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

.learn-more a {
  color: #00b0ff;
}

.nav ul {
  padding: 0;
  display: table;
  table-layout: fixed;
  max-width: 900px;
  margin: 0 auto;
}

.nav li {
  display: table-cell;
}

.nav li a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.logo {
  display: block;
  margin: 50px auto;
}

.image_row {
  display: block;
}

.image_row:before, .image_row:after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}

.floating_image {
  float: left;
  width: 600px;
  height: 400;
}




/* FORMS */

.form-wrapper {
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  width:600px;
  background: url(http://2.bp.blogspot.com/-I-wJ9su_jZQ/TV3uN2iDAJI/AAAAAAAABxU/a5lfxdkTl14/s1600/balloon.bg.png); no-repeat center center;
  background-size: cover;
  padding: 10px;
}
h1 { 
  font-family: 'Oswald', sans-serif;
}
.control-wrapper {
  margin:15px;
}
.control-wrapper input, .control-wrapper label {
  display:block;
} 