.jumbotron {
  background: url(http://i.stack.imgur.com/p9mUO.jpg); no-repeat center center;
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
  background: url(http://i.stack.imgur.com/jGlzr.png);
  background-size: cover;
  height: 2460px;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}    

.learn-more a {
  color: #00b0ff;
}

.nav ul {
  padding: 0;
  display: table;
  table-layout: fixed;
  max-width: 900px;
  margin: 0 auto;
}

.nav li {
  display: table-cell;
}

.nav li a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.jumbotron .container {
position: relative;
top: 100px;
}

.logo {
  display: block;
  margin: 50px auto;
}

.image_row {
  display: block;
}

.image_row:before, .image_row:after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}

.floating_image {
  float: left;
  width: 600px;
  height: 400;
}
